.b-todoitem-edit-form__controls {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.b-todoitem-edit-form__link-button {
  margin: 15px;
}

.b-todoitem-edit-form__inputs-container {
  padding: 15px;
}

.b-todoitem-edit-form__primary-inputs-container {
  display: flex;
  justify-content: space-between;
}