body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #767676;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  background-color: rgb(103, 58, 183);
  color: white;
  display: flex;
  align-content: center;
  padding: 0 20px;
}
h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}

.logo {
  margin: auto 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #F5F5F5;
}
.button {
  color: initial;
  background-color: white;
  width: 100%;
  height: 50px;
  border: none;
  box-sizing: border-box;
  border-bottom: 5px white solid;
  font-size: 18px;
}

.button:hover {
  background-color: #f5f5f5;
}

.button:active, .button:focus, .button-focused {
  background-color: #f5f5f5;
  border-bottom: 5px rgb(103, 58, 183) solid;
  outline: none;
}

.form-wrapper {
  background-color: white;
  padding: 10px 20px;
  width: 300px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  
}
.auth-switcher {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 100%;
}

input {
  width: 100%;
  font-size: 20px;
  border: 1px #757575 solid;
  border-bottom: 5px #757575 solid;
  box-sizing: border-box;
}
input:focus {
  border: 1px #757575 solid;
  border-bottom: 5px rgb(103, 58, 183) solid;
  outline: none;
}

.input-incorrect {
  border: 1px red solid;
  border-bottom: 5px red solid;
}

.input-incorrect-warning:after {
  content: "Incorrect login or password";
  font-size: 12px;
  color: red;
}